@import "../Base/base.scss";
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 300px;
    padding-top: 20px;
    background-color: $color-secondary;
    box-shadow: 1px 1px 10px black;    
    .facebook{
        margin-left: 20px;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
    }
    p{
        font-size: 14px;
        margin-right: 10px;
        text-decoration: underline;
    }
    i{
        font-size: 40px;
        color: $color-primary;
        
    }
    .support{
        margin-right: 20px;
        display: flex;
        align-items: center;
    }
}