@import "../Base/base.scss";
nav{
    display: flex;
    align-items: center;
    padding: 60px 20px;
    background-image: url(../images/sunset-698501_960_720.webp);
    background-position: 50% 65% ;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 12px 10px 5px $color-quaternary;

    h1{
        text-transform: uppercase;
        font-size: 45px;
        margin-right: auto;
        text-shadow: #DFDC3D 2px 0 10px;
    }
    a{
        font-size: 24px;
        text-transform: uppercase;
        color: $color-primary;
        text-decoration: none;
        margin-right: 15px;
        padding: 20px 20px;
        border: 2px solid black;
        border-radius: 12px;
        background-color: $color-quaternary;
        opacity: 0.5;
        box-shadow: 8px 5px 5px $color-primary;
    }
    a:hover{
        background-color: $color-tertiary;
        transform: scale(1.1);
        box-shadow: 5px 5px 5px $white;
    }
}