@use "../Base/base.scss";

section{
    margin-top: 80px;
    h2{
        font-size: 30px;
        display: flex;
        justify-content: center;
        margin: 10px auto;
        text-decoration: underline;
    }
    img{
        display: block;
        margin: 100px auto;
        border-radius: 24px;
        box-shadow: 8px 10px 15px rgb(101, 100, 100);

    }
    p{
        margin: 150px;
        text-align: center;
        i{
font-size: 24px;
        }
    }
}